{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" value="{{ username }}" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" value="{{ password }}" required>
        </div>
        {% if error %}
        <div class="mb-3">{{ error }}</div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}
